


<style>
    .navbar-toggle
    {
        display:block !important;
    }


    .disablednew {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }




    #myModal1 {
        position: fixed;
        right: 13px;
        font-size: 18px;
        text-align: right;
        bottom: 125px;
        display: none;
        background: transparent;
        overflow:hidden;
    }

        #myModal1 span {
            font-size: 14px;
            background: #fff;
            padding: 3px;
            box-shadow: 0 2px 10px rgba(0,0,0,.2);
            margin-right: 7px;
        }


        #myModal1 .modal-body {
            background: transparent;
        }

    .Addbtn {
        position: fixed;
        bottom: 20px;
        right: 10px;
        background: #fff !important;
        z-index: 13000;
        color: #128ece !important;
        height: 65px;
        width: 65px;
        border-radius: 100%;
        text-align: center;
        line-height: 65px;
      
    }

        .Addbtn .fa{
            font-size:24px;
            margin-top:22px;
        }
        
         #selectAction {
            position: fixed;
            bottom: 120px;
            right: 25px;
        }



    #selectAction li {
       list-style-type:none;
    }



        #selectAction .btn {
            height: 50px;
            width: 50px;
            padding: 0px;
            border-radius: 100%;
            text-align: center;
            line-height: 48px;
            border: transparent;
            margin-bottom: 5px;
        }
</style>




<div>
    <br /><br />
</div>

<div ng-if="IsActivityOn==false">





    <div class="page-header">

        <h3>Cart Activities</h3>
    </div>

   
</div>




<div ng-if="IsActivityOn==true">
    


    <div>
        <br />
    </div>


    

    <div>
        <br />
    </div>


    

    <div>
        <br />
        <br />
    </div>
</div>
<!-- Activity Modal end -->



<script>
       

</script>